%h1 Listing messages

%table
  %tr
    %th First name
    %th Last name
    %th Username
    %th Email
    %th Message
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.first_name
      %td= message.last_name
      %td= message.username
      %td= message.email
      %td= message.message
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
