%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
  %title= "Chelp"
  %meta{:content => content_for?(:description) ? yield(:description) : "Chelp", :name => "Yelp for Charities"}
  = stylesheet_link_tag :application, :media => "all"
  = javascript_include_tag :application
  = csrf_meta_tags
  = yield(:head)
%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    %nav.navbar-inner
      .container
      -# =image_tag asset_path('ChelpIcon.png'), :size => '40x40'
      %a.myTestType.pad-top{:href => "/charities"} Chelp
      %ul.nav
        - if session[:user] != nil
          %img.img-circle.width30.verticalGoogle.down5{:src => current_user.get_picture(30)}
          %a.navbar-text.pull-right.white{:href => "/messages/new"} Contact Us
          %a.navbar-text.pull-right.white{:href => "/logout"} Logout
          %a.navbar-text.pull-right.white{:href => user_path(session[:user])} #{current_user.first_name}
        - else
          %a.zocial.google.pull-right.space-right.pad-top{:href => "/auth/google_oauth2"} Sign in with Google
          %a.navbar-text.pull-right.white{:href => "/messages/new"} Contact Us
          %a.navbar-text.pull-right.white{:href => "/users/new"} Sign Up!
          %a.navbar-text.pull-right.white{:href => "/login"} Login
  #main{:role => "main"}
    -#.container
    -#.content
    -#.row
    -#.span12
    = render 'layouts/messages'
    = yield
%footer
