%h1 All Charities

= link_to "Login", login_path
= link_to "Contact Us", contact_us_path

%table#charities
  %thead
    %tr
      %th= "Name"
      %th= "Description"
  %tbody
    %tr
    - @charities.each do |charity|
      %tr
        %td= link_to "#{charity.name}", charity_path(charity)
        %td= "#{charity.description}"

= link_to 'Add new Charity', new_charity_path