%h1 All Charities


= link_to "Sign-Up", new_user_path
= link_to "Login", login_path
= link_to "Contact Us", new_message_path

.table
  %table#charities
    %thead
      %tr
        %th{:class => isHighlighted("name")}= sortable "name", "Name"
        %th{:class => isHighlighted("description")}= sortable "description", "Description"
    .table-striped
      .table-hover
        %tbody
          %tr
          - @charities.each do |charity|
            %tr
              %td= link_to "#{charity.name}", charity_path(charity)
              %td= "#{charity.description}"

= link_to 'Add new Charity', new_charity_path