%h1 Create New Charity

= form_tag charities_path do

  = label :charity, :name, 'Name'
  = text_field :charity, 'name'

  = label :charity, :description, 'Description'
  = text_field :charity, 'description'
  
  = label :charity, :filter_flags, 'Filter Flags'
  = text_field :charity, 'filter_flags'
  
  = submit_tag 'Create'
