.centerScroll.maxWidth800
  .content
    %img.imageWidth100{:src => @charity.charity_image}
    %h1
    .well
      %h2.up5 Mission
      .hr.up10
      %p #{@charity.description}
    %h1 
    .well
      %h2.up5 Reviews
      .hr.up10
      -@reviews.each do |review|
        - user = User.find(review.user_id)

        - if user == current_user
          .well.backgroundColorBlue
            %img.img-circle.pull-right{:src => user.get_picture(50)}
            %h3.up5 #{review.title}
            %w Author:
            %a.up5.italic{href: user_path(review.user_id)} You
            %p
            %p #{review.description}
            %p.italic.pull-right #{review.created_at}
        - else
          .well
            %h3.up5 #{review.title}
            %w Author:
            %a.up5.italic{href: user_path(review.user_id)} #{user.first_name} #{user.last_name}
            %p
            %p #{review.description}
            %p.italic.bottom5.pull-right #{review.created_at}

    -if current_user == nil
      .well
        %h3.up5 Login to leave a review.
    -else
      - if @reviews.find { |review| review[:user_id] == current_user.id } != nil
        .well
          %h3.up5.bottom-5 Thank you for taking the time to leave a review for this charity.

    -if current_user != nil && @reviews.find { |review| review[:user_id] == current_user.id } == nil
      .well
        %h3.up5 Create Review
        %form{role: "form", action: "/reviews", method: "post"}
          .form-group
            %input.form-control{placeholder: "Review Title", name: "title"}
          .form-group
            %textarea.form-control{rows: "5", placeholder: "Full User Review. Please be objective and constructive.", name: "description"}
          %input{:type=>"hidden", :value => @charity.id, :name => :charity}        
          %button.btn.btn-large.btn-primary{type: "submit"} Create