%h1 User Login

%div.center-block
  = form_tag sessions_path do

    = label :session, :email, 'Email Address'
    = text_field :session, 'email'

    = label :session, :description, 'Password'
    = text_field :session, 'password'
  
    = submit_tag 'Login'